<%- include('./layouts/main') %>

<div class="col-sm-10 mt-3">
  <h1>
    <%= title %>
  </h1>
  <% if (genre_list.length) { %>
    <ul>
      <% genre_list.forEach(genre=> { %>
        <li>
          <a href="<%= genre.url %>">
            <%= genre.name %>
          </a>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
      <p>There are no genres.</p>
    <% } %>
</div>